 


 
    <div class="idea">
           <image 
                src="https://image.flaticon.com/icons/svg/3039/3039657.svg" 
                alt="Imagem de curso de programação">


           <div class="content">
                <h3>Cursos de Programação</h3>
                <p>Estudo</p>
           <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate porro voluptates ratione veritatis quaerat ut neque saepe. Mollitia delectus explicabo neque iusto in ducimus debitis quae corporis facere vitae.
           </div>
           <a href="{{idea.link}}">Ir para a Ideia</a>
             
           </div>
      </div>
      <!-- copiei e colei a div, para abrir mais uma caixa de ideias, já que só tinha três-->

      <div class="idea">
          <img 
               src="https://image.flaticon.com/icons/svg/2919/2919590.svg" 
               alt="Imagem de X">


          <div class="content">
               <h3>Aguardando ideia</h3>
               <p>Aguardando ideia</p>
          <div class="description">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate porro voluptates ratione veritatis quaerat ut neque saepe. Mollitia delectus explicabo neque iusto in ducimus debitis quae corporis facere vitae.
          </div>
          <a href="#">Ir para a Ideia</a>
            
          </div>
     </div>

{% for idea in ideias %} 
      <div class="idea">
           <img 
                src="https://image.flaticon.com/icons/svg/889/889119.svg" 
                alt="Imagem instagram teste curso">


           <div class="content">
                <h3>Cursos de mídia social</h3>
                <p>Instagram</p>
           <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate porro voluptates ratione veritatis quaerat ut neque saepe. Mollitia delectus explicabo neque iusto in ducimus debitis quae corporis facere vitae.
           </div>
           <a href="#">Ir para a Ideia</a>
             
           </div>
      </div>
{% endfor %}
 
      <div class="idea">
           <img 
                src="https://image.flaticon.com/icons/svg/1852/1852749.svg" 
                alt="Imagem de curso de violão">


           <div class="content">
                <h3>Cursos de Violão</h3>
                <p>Violão</p>
           <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate porro voluptates ratione veritatis quaerat ut neque saepe. Mollitia delectus explicabo neque iusto in ducimus debitis quae corporis facere vitae.
           </div>
           <a href="#">Ir para a Ideia</a>
             
           </div>
      </div>

           
    <!-- test git 30/07-->