{% extends "layout.html" %}

{%block content %}

<section id="intro">
     <header>
          <a href="/">
          <img src="/LogoUmCasaCriativa.png" alt=""> 
          </a> 
     </header>


     <main>

          <!-- o "(p)" usa-se como parágrafo, esse é o seu significado-->
          <p>
               Ficar na casa em períodos longos, não deve ser nada fácil.
     </p>
     <p>
          Iremos catalogar ideias,<strong> brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais interessante.
     </p>
     <p>
          Comece clicando em ver ideias para ver as 
          ideias cadastradas e contribua adicioando a sua ideia.
     </p>
</main>


<section id="buttons">
     <button onclick="oneOff ()">+ Adicionar Ideia</button> <!-- aqui fica o butão que irá levar a segunda tela de preenchimento de formulário-->
     <a href="/ideais" class="button">Ver Ideias</a>
</section>
     
     <footer>
          
          Com ❤ <a  href="https://www.linkedin.com/in/deangelo-andrade/" target="_blank">Deangelo Andrade <!-- Aqui era para o meu nome gerar um link na pagina, porém, como é para teste, deixei sem por enquanto-->
          <img src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="logo linkedin"></a>

     </footer>
</section>

<section id="last-ideias">

     {% include "all_ideias.html"  %}  

</section>

{% endblock %}